{% extends 'base/base.html' %}
{% block header %}{% include 'header/header.html' %}{% endblock %}
{% block footer %}{% include 'footer/footer.html' %}{% endblock %}
{% block content %}


<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Create an account</h4>
                    <form method="post" id="registration-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Choose a username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Choose a password">
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">Confirm Password</label>
                            <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm your password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" onclick="signup">Sign up for MySite</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function signup() {
      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;
      const csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;

    $.ajax({
    url: '/graphql',
    type: 'POST',
    data: JSON.stringify({
        query: `mutation($username: String!, $email: String!, $password: String!) {
          register(username: $username, email: $email, password: $password) {
            user {
              username
              email
            }
          }
        }`,
        variables: {
            username: $('#username').val(),
            password: $('#password').val()
        }
    }),
    contentType: 'application/json',
    beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
    },
    success: function (response) {
      if(response.data.register){
        //handle success
        window.location.href = "/login"
      }else{
        //handle error
      }
    }
    });
    }

  
    // client.query({
    //   query: gql`
    //     {
    //       me {
    //         username
    //         email
    //       }
    //     }
    //   `
    // }).then(function(response) {
    //   var user = response.data.me;
    //   if (user) {
    //     // display user information
    //   } else {
    //     // display login/register form
    //   }
    // });
  </script>
{% endblock %}